ion-content.scroll-content {
  width: 80%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

p, ul, li {
  line-height: 30px;
  letter-spacing: 0.4px;
}

body {
  font-size: 24px;
}

p, .button.button-block {
  margin: 25px 0;
}
#page2 img {
  width: 49%;
 display: inline-block;
}
.platform-ios .manual-ios-statusbar-padding{
  padding-top:20px;
}
.manual-remove-top-padding{
  padding-top:0px;
}
.manual-remove-top-padding .scroll{
  padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
  margin-left:-10px;
  margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
  border-radius:0px;
  border-left:0px;
  border-right: 0px;
}
