<ion-view title="August 6" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <h2>Coding Workshop at Centrl Office</h2>
            <ul>
                <li>9:00 AM-1:00 PM</li>
                <li>Guest speaker to be determined</li>
                <li>1355 NW Everett St, Portland, OR 97209</li>
                <li>No Food</li>
            </ul>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7905.886790590188!2d-122.68229421648829!3d45.527124962189184!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfa58daa93209a3e0!2sCENTRL+Office!5e0!3m2!1sen!2sus!4v1469828745603" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </ion-content>
</ion-view>
