<ion-view title="Contact Info" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="contactInfo-heading2" style="color:#000000;font-weight:300;" class=" ">Want to join us?</h3>
        <a href="#" onclick="window.open('https://docs.google.com/forms/d/1cAN4rTlGs_V8IHnI6q6AT9dEZTn-P1knM_jNf4S8NKk/viewform', '_system', 'location=yes'); return false;" id="contactInfo-button1" class=" button button-positive  button-block ">Register Now!</a>
        <div class="spacer" style="width: 283px; height: 37px;"></div>
        <h3 id="contactInfo-heading3" style="color:#000000;font-weight:300;" class=" ">Have a question, comment, or concern?</h3>
        <a href="#" onclick="window.open('https://docs.google.com/forms/d/1rM1ELuHpKfQ3XEnBj1tl_qX9gj60Wxh6SR2AxeBTbyI/viewform', '_system', 'location=yes'); return false;" id="contactInfo-button2" class=" button button-positive  button-block ">Submit a comment</a>
        <div class="spacer" style="width: 283px; height: 34px;"></div>
        <h3 id="contactInfo-heading4" style="color:#000000;font-weight:300;" class=" ">A Special thanks to the companies hosting our workshops</h3>
        <div class="">
            <img src="img/ir0iRa2yTAuuJz0X2kSR_Vacasa_Logo_Print_0.png" width="100%" height="auto">
            <img src="img/MN4M7z5sReWYMmJPOHWu_connective-dx-digital-experience-agency-boston.png" width="100%" height="auto">
            <img src="img/k4bUz0U9Qw6iGySyYEvs_uncorked_logo300.png" width="100%" height="auto">
            <img src="img/V5LoIk6rTOGuPwJu9vbg_daimler_logotype-700x466.jpg" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>
