<ion-view title="Contact Info" id="page2">
    <ion-content padding="true" class="has-header">
        <h3 id="contactInfo-heading2" style="color:#000000;">Want to join us?</h3>
        <button id="contactInfo-button1" class="button button-positive  button-block">Register Now!</button>
        <div class="spacer" style="width: 283px; height: 37px;"></div>
        <h3 id="contactInfo-heading3" style="color:#000000;">Have a question or suggestion?</h3>
        <button id="contactInfo-button2" class="button button-positive  button-block">Submit a comment</button>
    </ion-content>
</ion-view>