<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="home-heading1" class=" ">Learn to build mobile apps with Franklin High School's Innovation Academy!</h1>
        <p id="home-markdown1" class=" ">We will be learning various code-related skills, such as web design, graphic design, game development, and more! For more informantion feel free to contact us at
            <strong><a href='mailto:IASummer.2016@gmail.com'>IASummer.2016@gmail.com</a></strong>.</p>
        <a href="#" onclick="window.open('https://docs.google.com/forms/d/1cAN4rTlGs_V8IHnI6q6AT9dEZTn-P1knM_jNf4S8NKk/viewform', '_system', 'location=yes'); return false;" id="home-button3" class=" button button-positive  button-block ">Register Now!</a>
        <a ui-sref="menu.schedule" id="home-button4" class=" button button-dark  button-block ">View the Schedule!</a>
        <div class="">
            <img src="img/S9G5n4N2SmGf6nZKs3kd_IA-summer-2016-flyer.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 22px;"></div>
        <p id="home-markdown5" class=" ">For this year's Congressional App Challenge we will be submitting entries.</p>
        <div>
            <a href="http://www.congressionalappchallenge.us">For more information click here.</a>
        </div>
        <div class="">
            <img src="img/ziAn4ArcSQ66Z5kpy0g7_CAClogo5.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="home-markdown3" style="color:#000000;" class=" "></p>
    </ion-content>
</ion-view>
