<ion-view title="July 23" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <h2>Paper Prototyping Workshop at Vacasa</h2>
            <ul>
                <li>9:00 AM-1:00 PM</li>
                <li></li>Guest speaker to be determined
                <li>3934 NE Martin Luther King Jr Blvd Suite 204 Portland, OR 97212</li>
            </ul>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2793.9518454110134!2d-122.66337368450901!3d45.55129423564874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a73e7dc0b519%3A0xf336215391092441!2s3934+NE+Martin+Luther+King+Jr+Blvd+%23204%2C+Portland%2C+OR+97212!5e0!3m2!1sen!2sus!4v1464044022860"
            width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </ion-content>
</ion-view>