<ion-view title="July 9" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <h2>Prototyping Workshop at Uncorked Studios</h2>
            <ul>
                <li>9:00 AM-1:00 PM</li>
                <li></li>Guest speaker to be determined
                <li>1001 SE Water Ave #350, Portland, OR 97214</li>
            </ul>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.7221027758837!2d-122.66844728451012!3d45.51567253802853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54950a09603b3563%3A0x6a540079606af227!2sUncorked+Studios!5e0!3m2!1sen!2sus!4v1464043603652"
            width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </ion-content>
</ion-view>