<ion-view title="July 23" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <h2>Paper Prototyping Workshop at Vacasa</h2>
            <ul>
                <li>9:00 AM-1:00 PM</li>
                <li></strong>Guest Speaker</strong>Daniel T. Wood, UX Designer</li>
                <li>926 NW 13th Ave, Portland, OR 97209</li>
            </ul>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.0162780918035!2d-122.68641108444035!3d45.529877979101805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549509fe9a9e8711%3A0x4e48579a74f2f93d!2s926+NW+13th+Ave%2C+Portland%2C+OR+97209!5e0!3m2!1sen!2sus!4v1468619132118"
            width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </ion-content>
</ion-view>
