<ion-view title="June 25" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <h2>HTML/CSS Workshop at Connective DX</h2>
            <ul>
                <li>9:00 AM-1:00 PM</li>
                <li></li>Guest speaker to be determined
                <li>2030 NW Pettygrove St, Portland, OR 97209</li>
            </ul>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2794.8999296011234!2d-122.69538358444022!3d45.53221927910184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549509fb39c94979%3A0x83dfec2156a51f0b!2sConnective+DX!5e0!3m2!1sen!2sus!4v1464043106992"
            width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </ion-content>
</ion-view>