<ion-view title="June 11" id="page4">
    <ion-content padding="true" class="has-header">
        <div>
            <ul>
                <li>9:30-10:00 Registration, presentation of previous projects</li>
                <li>10:00-10:15 Welcomes</li>
                <li>10:15-10:30 Pick topics</li>
                <li>10:30-11:15 Brainstorming app ideas</li>
                <li>11:15-11:45 Present ideas and select best
                </li>
                <li>11:45-12:30 Lunch and guest speaker</li>
                <li>12:30-1:30 Prototype app idea</li>
                <li>1:30-2:00 Present prototype</li>
                <li>2:00-2:30 Instructions for continuing development of prototype/ Homework for next session</li>
            </ul>
        </div>
    </ion-content>
</ion-view>