<ion-view title="Schedule" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="schedule-list2" class=" ">
            <ion-item id="schedule-list-item4" ui-sref="menu.june25" class="  ">June 25 at Connective DX</ion-item>
            <ion-item id="schedule-list-item5" ui-sref="menu.july9" class="  ">July 9 at Uncorked Studios</ion-item>
            <ion-item id="schedule-list-item7" ui-sref="menu.july23" class="  ">July 23 at Vacasa</ion-item>
            <ion-item id="schedule-list-item8" ui-sref="menu.august6" class="  ">August 6 at [Unexpected Error]</ion-item>
            <ion-item id="schedule-list-item6" ui-sref="menu.august20" class="  ">August 20 at Daimler</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 62px;"></div>
        <p id="schedule-markdown2" style="color:#000000;" class=" ">Join us for open coding on Fridays from 2:00 PM-4:00 PM in the Franklin library</p>
        <div class="spacer" style="width: 283px; height: 47px;"></div>
        <p id="schedule-markdown4" style="color:#000000;" class=" ">Sometime in the fall there will be an awards events for the Congressional App Challenge, however the date has yet to be determined. More information will be posted as it becomes availabe</p>
    </ion-content>
</ion-view>
