<ion-view title="Schedule" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="schedule-list2" class=" ">
            <ion-item id="schedule-list-item4" ui-sref="menu.june25" class="  ">June 25 at Connective DX</ion-item>
            <ion-item id="schedule-list-item5" ui-sref="menu.july9" class="  ">July 9 at Uncorked Studios</ion-item>
            <ion-item id="schedule-list-item7" ui-sref="menu.july23" class="  ">July 23 at Vacasa</ion-item>
            <ion-item id="schedule-list-item8" ui-sref="menu.august6" class="  ">August 6 at Daimler</ion-item>
            <ion-item id="schedule-list-item6" ui-sref="menu.august20" class="  ">August 20 at [Unexpected Error]</ion-item>
        </ion-list>
    </ion-content>
</ion-view>